miprimeraweb/ud5-a3-validacion-xsd-manuelortiz12-main/ud5-a3-validacion-xsd-manuelortiz12-main/ejercicios/ejercicio3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="edad" type="xs:integer" />
                        </xs:sequence>
                        <xs:attribute name="numero" type="xs:integer" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
<fichas>
    <ficha numero="1">
        <nombre>Ana Sanz Tin</nombre>
        <edad>22</edad>
    </ficha>
    <ficha numero="2">
        <nombre>Iker Rubio Mol</nombre>
        <edad>23</edad>
    </ficha>
</fichas>