miprimeraweb/ud5-a3-validacion-xsd-manuelortiz12-main/ud5-a3-validacion-xsd-manuelortiz12-main/ejercicios/ejercicio9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="precios">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temporada_alta" type="PrecioType"/>
        <xs:element name="temporada_baja" type="PrecioType"/>
        <xs:element name="temporada_media" type="PrecioType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="PrecioType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
